# ignore all pycaches
**/__pycache__/
**/.DS_Store
.vscode/launch.json
.idea/misc.xml
.idea/semester2project.iml
src/view/assets/gamebg*.png
.DS_Store
.DS_Store
src/.DS_Store
src/view/.DS_Store
src/view/assets/.DS_Store
.DS_Store
